.imgCarrito{
    width: 100px;
    height: 100px;
}
.container-Carrito{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 105px;
    border:solid 1px rgb(124, 118, 124);
    text-align: center;
    /* padding: 0px 50px; */
    margin: 10px 1px;
}

.modal-header{
    background-image:linear-gradient(to right, #2B1845, #1C1233, #271743, #2F0536 );
    color: rgb(235, 229, 229);
}
.modal-body{
    background-color: rgb(3, 3, 3);
}
.modal-footer{
    background-color: black;
}
.precioCarrito{
    margin: 30px ;
    font-size: 18px;
    font-weight: bold;

}
.nombreCarrito{
    margin: 30px 10px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;

}
.modal-footer{
    color: rgb(238, 225, 225);
    text-align: center;
    margin: 0px 100px;
    font-family: sans-serif;
    font-weight: bold;
}

.modal.right .modal-dialog {
    position: fixed;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 500px; 
    height: 100%;
    color: rgb(209, 203, 203);
    background-color:rgb(2, 2, 2) ;
    transform: translateX(100%);
  
    transition: transform 0.3s ease-out;
    overflow-x: hidden;
}

.modal.right.show .modal-dialog {
    transform: translateX(0);
}
@media only screen and (max-width: 600px) {
    .nombreCarrito{
        font-size: 10px;
    }
    .precioCarrito{
        font-size: 13px;
    }
}
